
<div class="container">
    <div class="row">
        <div class="form_bg">
            <table>
                <tr>
                    <td>EmpId: </td>
                    <td class="form-control">
                        <span>{{ EmpCode }}</span>
                    </td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>
                        {{EmpModel.Name}}
                    </td>
                </tr>
                <tr>
                    <td>Salary:</td>
                    <td>
                        {{EmpModel.Salary}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>